/* Supplied CSS Stylesheet */

/* Change to border-box sizing */

* {
  box-sizing: border-box;
}

/* General font and sizing */

body {
  background-color: #ededed;
  color: rgb(18, 21, 209);
  font-size: 16px;
  margin: 0px;
  
}

/* Container to hold all content */

.container {
  background: #fff;
  margin: 80px auto 15px auto;
  padding: 15px;
  width: 500px;
  height: 600px;
}

/* Change header font */

h1,
h2 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

h1 span,
h2 {
  color: dodgerblue;
  font-family: 'Lato', sans-serif;
}

h2::before {
  content: "// ";
}

/* Undo default list styling */

ul {
  list-style: none;
  padding: 0;
}

/* Contact list */

li {
  margin-bottom: 30px;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, a{
  font-family: 'Chakra Petch', sans-serif;
}

.slider{
  padding-left: 135px;
}


/* Copyright
  Trilogy Education Services © 2018. All Rights Reserved. */
